[submodule "3rdparty/vboot"]
	path = 3rdparty/vboot
	url = https://chromium.googlesource.com/chromiumos/platform/vboot_reference
	branch = firmware-smaug-7900.B
[submodule "3rdparty/arm-trusted-firmware"]
	path = 3rdparty/arm-trusted-firmware
	url = https://chromium.googlesource.com/chromiumos/third_party/arm-trusted-firmware
	branch = firmware-smaug-7900.B
